<!doctype html>
<html lang="">
<link href="../static/jarvis.css" rel="stylesheet" type="text/css">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!--
        
        this was the line in the Tony DiCola tutorial
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        
        -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <!-- Place favicon.ico in the root directory -->
    </head>
    <body>

<!-- Add your site or application content here -->

<div class="container">
	<div class="row">

<div class="col-sm-4">
	<h3>Door</h3>
        <table>
    {% for item, reading in result.iteritems() %}         

        <tr>
        	<th> {{ item }} </th>
            <td> {{ reading }} </td>
		</tr>
	 
	{% endfor %}         
	</table>
    
</div></div>
